body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p{
  line-height: 2;
}

h1{
  font-size: 5.625rem; /*  1em=16px  */
  margin: 3.625rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 0.625rem;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 0.3125rem;
  width: 5%;
  margin: 6.25rem auto;
}
h3{
  color: #11999E;
  font-size: 1.5rem;
}

.last-para{
font-weight: normal;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
  font-size: 1rem;

}
a:hover{
  color: #eaf6f6;
}
.intro{
width: 30%;
margin: auto;
}

.abc{
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}
.pqr{
  width: 25%;
  float: right;
  margin-left: 1.875rem;
  font-weight: bolder;
}

.top
{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 6.25em;
}
.top-cloud{
  position: absolute;
  right: 18.75rem;
  top: 2.5rem;
}

.myskills{
color: #66BFBF;
}


.middle-container
{
padding: 6.125rem 0;
}

.bottom-container
{
background-color: #66BFBF;
padding: 3.125rem 0 3.125rem;
font-size: 1rem;
}
.skill-row{
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;

}

.bottom-cloud{
  position: absolute;
  bottom: 18.75rem;
  left: 15.625rem;
}

.pro
{
  text-decoration: underline;
}

.contact-message{
  width: 30%;
  margin: 2.5rem auto 3.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, 11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, 11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, 11999E);
  background-image: -o-linear-gradient(top, #11cdd4, 11999E);
  background-image: linear-gradient(to bottom, #11cdd4, 11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #30E3cb;
  background-image: -webkit-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}
